<configuration>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{HH:mm:ss.SSS}] %highlight(%-5level) %-35logger{35}| %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="COLOR"/>
    </root>
</configuration>
